body {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

canvas {
  image-rendering: pixelated;
  border: 4px solid white;
}

#menu {
  width: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  font-size: 18px;
  padding: 10px;
  background: #f8f8f8;
  border: 2px solid black;
}
